<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.bookmark.FileSystemBookmarkStorageService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.workflow.WorkflowProviderService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service

            class="org.eclipsescout.demo.minicrm.server.services.common.security.AccessControlService"
            >
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.services.StandardOutlineService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.ui.desktop.form.CompanyService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.services.lookup.CompanyLookupService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.services.custom.security.AccessControlService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.services.process.UserProcessService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.services.process.NotificationProcessService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.services.process.IconProcessService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.services.process.PasswordProcessService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>

      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.minicrm.server.services.common.sql.MySqlSqlService"
            session="org.eclipsescout.demo.minicrm.server.ServerSession">
      </service>

      <service
            class="org.eclipse.scout.cloud.cachestore.MemcachedCacheService"
            ranking="100">
      </service>
      <service
            class="org.eclipse.scout.cloud.notification.rabbitmq.RabbitMQMessageService"
            ranking="100">
      </service>

<!--
      <service
            class="org.eclipse.scout.cloud.notification.activemq.ActiveMQMessageService"
            ranking="100">
      </service>
-->

      <!-- Services for AppFog -->
<!--
      <service
            class="org.eclipsescout.demo.minicrm.server.services.AppFogConfigService"
            ranking="200">
      </service>
      <service
            class="org.eclipsescout.demo.minicrm.server.services.common.cache.AppFogCacheService"
            ranking="200">
      </service>
      <service
            class="org.eclipsescout.demo.minicrm.server.services.common.notification.AppFogRabbitMQMessageService"
            ranking="200">
      </service>
      <service
            class="org.eclipsescout.demo.minicrm.server.services.common.sql.AppFogMySqlSqlService"
            ranking="200">
      </service>
-->

   </extension>
   <extension
         name=""
         point="org.eclipse.equinox.http.registry.servlets">
       <servlet
            alias="/auth"
            class="org.eclipsescout.demo.minicrm.server.servlet.MinicrmAuthenticationServlet">
      </servlet>
      <servlet
            alias="/process"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
         <init-param
               name="min-version"
               value="0.0.0">
         </init-param>
      </servlet>
      <servlet
            alias="/remotefiles"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
      </servlet>
      <servlet
            alias="/updatesite"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
         <init-param
               name="folder"
               value="/updatesite">
         </init-param>
      </servlet>
      <servlet
            alias="/"
            class="org.eclipse.scout.rt.server.ResourceServlet">
         <init-param
               name="bundle-name"
               value="org.eclipsescout.demo.minicrm.server">
         </init-param>
         <init-param
               name="bundle-path"
               value="/resources/html">
         </init-param>
      </servlet>
      <servlet
            alias="/ajax"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
      </servlet>
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.rt.server.commons.filters">
      <filter
            aliases="/process"
            class="org.eclipsescout.demo.minicrm.server.security.BasicForwardSecurityFilter"
            ranking="20">
      </filter>
      <filter
            aliases="/"
            class="org.eclipse.scout.rt.server.ServerJobServletFilter"
            ranking="30">
         <init-param
               name="active"
               value="true">
         </init-param>
         <init-param
               name="session"
               value="org.eclipsescout.demo.minicrm.server.ServerSession">
         </init-param>
      </filter>
   </extension>
   <extension
         id="app"
         name="Server Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipsescout.demo.minicrm.server.ServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         name=""
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipsescout.demo.minicrm.server.app"
            name="minicrm Server">
         <property
               name="appName"
               value="minicrm Server">
         </property>
      </product>
   </extension>

</plugin>
